/* Form inputs container */
.form__inputs {
  padding: 2rem;
  border: 2px solid #ffffff;
  margin: 2rem 0;
  width: 60rem;
}

/* Form input containers */
input,
textarea {
  width: 100%;
}
textarea {
  height: 10rem;
}

/* Input container, except the last one */
.form__inputContainer:not(:last-child) {
  margin-bottom: 2rem;
}

/* Submit container */
.submitContainer {
  display: flex;
}

/* Error container */
.errorContainer {
  flex-grow: 1;
}

/* Error messages */
.error {
  color: #ce3d3d;
  margin-bottom: 2rem;
}
